<!doctype html>
<html lang="en">
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.js"></script>
<script src="src\calcApp.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="style/calcstyle.css">
</head>
<body>
<div ng-app = "CalcApp"> 
<div ng-controller ="CalcController">

  <div class="row" style="padding:15px">
  <h1 ng-binding = "num">{{result}}</h1>
  </div>
  
  <div class = "row" style="padding:15px">
    <button ng-click="" ng-model="num" value = 7 >7</button>
    <button >8</button>
    <button >9</button>
    <button >4</button>
    <button >5</button>
    <button >6</button>
    <button >1</button>
    <button >2</button>
    <button >3</button>
    <button >0</button>
    <button >C</button>
  </div>

  <div class = "row" style="padding:15px">
    <button >+</button>
    <button >-</button>
    <button >*</button>
    <button >/</button> 
  </div>
<div class ="row">
  <button class ="row">=</button>
  </div>

</div>
</div>
</body>
</html>